<!DOCTYPE html>
<html lang="ko">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sample_layout.css">
</head>
<body>
    <div id="wrap">

        <!-- 헤더 시작 -->
        <header>
            <div id="in_header">
                <div id="logo"><a href="#">로고</a></div>
                <ul id="gnb">
                    <li><a href="#">menu</a></li>
                    <li><a href="#">menu</a></li>
                    <li><a href="#">menu</a></li>
                    <li><a href="#">menu</a></li>
                    <li><a href="#">menu</a></li>
                </ul>
            </div>
        </header>
        <!-- 헤더 끝 -->

        <!-- 첫 번째 섹션 시작 -->
        <section id="section_1"></section>
        <!-- 첫 번째 섹션 끝 -->

        <!-- 두 번째 섹션 시작 -->
        <section id="section_2">
            <div class="container">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </section>
        <!-- 두 번째 섹션 끝 -->

        <!-- 세 번째 섹션 시작 -->
        <section id="section_3">
            <div class="container">
                <ul class="con_wrap">
                    <li></li>
                    <li class="long_box m_box"></li>
                    <!-- class 선택자는 태그 안에 여러 개 지정 가능
                    -> 넣는 방법
                    class="선택자1 선택자2 선택자3..."
                    (선택자1 다음에 띄어쓰기로 다음 선택자 지정) -->
                    <li></li>
                </ul>
                <ul class="con_wrap">
                    <li></li>
                    <li class="m_box"></li>
                    <li class="long_box"></li>
                </ul>
                <ul class="con_wrap">
                    <li></li>
                    <li class="long_box m_box"></li>
                    <li></li>
                </ul>
            </div>
        </section>
        <!-- 세 번째 섹션 끝 -->

        <!-- 상단 버튼 시작 -->
        <div id="top_btn">
            <a href="#">top</a>
        </div>
        <!-- 상단 버튼 끝 -->

    </div>
</body>
</html>