/* 모든 요소의 패딩과 마진을 초기화 */
* {
    padding: 0;
    margin: 0 auto;
  }
  
  /* 배경 색상 및 중앙 정렬 설정 */
  body {
    background-color: #d0e3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  /* 얼굴 스타일 */
  .face {
    width: 60px;
    height: 50px;
    position: relative;
    top: 35px;
  }
  
  /* 눈 스타일 */
  .eye {
    background-color: #000000;
    border-radius: 7px;
    width: 14px;
    height: 14px;
    position: relative;
  }
  
  /* 눈의 위치 조정 */
  .eye:nth-child(1) { float: left; }
  .eye:nth-child(2) { float: right; }
  
  /* 입 스타일 */
  .mouth {
    background-color: #eeab73;
    border-radius: 0 0 0 7px;
    width: 25px;
    height: 10px;
    position: absolute;
    top: 15px;
    left: 6px;
  }
  
  /* 모자 스타일 */
  .hat {
    position: relative;
    top: 75px;
    left: 10px;
    z-index: 3;
    transform: rotate(10deg);
  }
  
  /* 모자의 윗부분 */
  .hat1 {
    background-color: #000000;
    border-radius: 7px 7px 0 0;
    width: 60px;
    height: 60px;
  }
  
  /* 모자의 아랫부분 */
  .hat2 {
    background-color: #000000;
    border-radius: 0 0 7px 7px;
    width: 100px;
    height: 10px;
  }
  
  /* 팔 스타일 */
  .arms {
    position: relative;
    z-index: 1;
  }
  
  /* 왼쪽 팔 */
  .arm1 {
    background-color: #8d765a;
    border-radius: 2px 2px 0 0;
    width: 3px;
    height: 60px;
    transform: rotate(-59deg);
    position: relative;
    right: 20px;
    bottom: 10px;
  }
  
  /* 오른쪽 팔 */
  .arm2 {
    background-color: #8d765a;
    border-radius: 2px 2px 0 0;
    width: 3px;
    height: 60px;
    transform: rotate(59deg);
    position: relative;
    left: 20px;
    bottom: 10px;
  }
  
  /* 상의 버튼 스타일 */
  .cloth {
    width: 100px;
    height: 68px;
    position: relative;
    top: 31px;
  }
  
  .button {
    background-color: #000000;
    border-radius: 8px;
    width: 16px;
    height: 16px;
    margin-bottom: 10px;
  }
  
  /* 눈사람의 상체 */
  .snow1 {
    background: linear-gradient(190deg, #ecebeb, #ffffff);
    border-radius: 50px;
    width: 100px;
    height: 100px;
    position: relative;
    top: 60px;
    z-index: 2;
  }
  
  /* 눈사람의 중체 */
  .snow2 {
    background: linear-gradient(180deg, #ecebeb, #ffffff);
    border-radius: 65px;
    width: 130px;
    height: 130px;
    position: relative;
    top: 40px;
    z-index: 1;
  }
  
  /* 눈사람의 하체 */
  .snow3 {
    background: linear-gradient(180deg, #ecebeb, #ffffff);
    border-radius: 75px;
    width: 150px;
    height: 150px;
    position: relative;
  }
  